div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p
{font-family:Arial;
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:Arial;
font-size: 13pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline-block;
margin:0;
padding:0;
}
h2
{
font-family:Arial;
font-size: 11pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline-block;
margin:0;
padding:0;
}
span.code
{
font-family:Courier New;
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:Georgia;
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_0176C2A306
{
	font-family:Courier New;
	font-size: 10pt;
	color:#0080c0;
}
span.de_0864F56C3F
{
	font-family:Courier New;
	font-size: 10pt;
	color:#000000;
}
span.de_16E794A87C
{
	font-family:宋体;
	font-size: 10pt;
}
span.de_1C40E0AF9B
{
	font-family:宋体;
	font-size: 10pt;
	color:#3f7f5f;
}
span.de_21CAE1BC99
{
	font-family:宋体;
	font-size: 14pt;
	color:#000000;
}
span.de_3188359E34
{
	font-family:SimSun;
	font-size: 10pt;
	color:#000000;
}
span.de_34C43CE25A
{
	font-family:NSimSun;
	font-size: 10pt;
	color:#000000;
}
span.de_3B3A075E7F
{
	font-family:华文宋体;
	font-size: 10pt;
	color:#000000;
}
span.de_3C8D7B3EB0
{
	font-family:宋体;
	font-size: 9pt;
	color:#000000;
}
span.de_3FBE0276EE
{
	font-family:Calibri;
	font-size: 10pt;
	color:#000000;
}
span.de_4152644A91
{
	font-family:宋体;
	font-size: 9pt;
	color:#ff8000;
}
span.de_41998EA5A4
{
	font-family:Courier New;
	font-size: 10pt;
	color:#7f0055;
}
span.de_41BF74EA43
{
	font-family:Consolas;
	font-size: 9pt;
	color:#000000;
}
span.de_529D016A04
{
	font-family:NSimSun;
	font-size: 10pt;
	color:#ff8000;
}
span.de_54FF43FEAF
{
	font-family:华文宋体;
	font-size: 16pt;
	color:#000000;
}
span.de_6FB8B0EA6C
{
	font-family:Courier New;
	font-size: 10pt;
	color:#804040;
}
span.de_7434DA3F56
{
	font-family:宋体;
	font-size: 9pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_75B4A9AAC0
{
	font-family:Courier New;
	font-size: 10pt;
	color:#646464;
}
span.de_787313CBAD
{
	font-family:宋体;
	font-size: 10pt;
	color:#000000;
}
span.de_7CDEBD2CF3
{
	font-family:微软雅黑;
	color:#000000;
}
span.de_8A09B8F83A
{
	font-family:宋体;
	font-size: 9pt;
	color:#ff8040;
}
span.de_8ABE10C0EC
{
	font-family:微软雅黑;
}
span.de_93D647F5A8
{
	font-family:宋体;
	font-size: 10pt;
	color:#2a00ff;
}
span.de_99A6B600C9
{
	font-family:Courier New;
	font-size: 10pt;
	color:#000000;
	font-style:italic;
}
span.de_99C877624C
{
	font-family:Courier New;
	font-size: 10pt;
	color:#3f7f5f;
}
span.de_A34636DE0F
{
	font-family:宋体;
	font-size: 10pt;
	color:#ff0000;
}
span.de_A4DCA1D55B
{
	font-family:Courier New;
	font-size: 10pt;
	color:#2a00ff;
}
span.de_AD585692E5
{
	font-family:SimSun;
	font-size: 15pt;
	color:#000000;
}
span.de_AEA1B99378
{
	font-family:宋体;
	font-size: 12pt;
	color:#000000;
}
span.de_BBB8D37A2A
{
	font-family:华文宋体;
	font-size: 10pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_C86BAC4BFF
{
	font-family:Courier New;
	font-size: 10pt;
	color:#0000c0;
}
span.de_CC86F78197
{
	font-family:Courier New;
	font-size: 10pt;
	color:#0000c0;
	font-style:italic;
}
span.de_D018EAE774
{
	font-family:NSimSun;
	font-size: 11pt;
	color:#000000;
}
span.de_E81CB1BD18
{
	font-family:Consolas;
	font-size: 10pt;
	color:#000000;
}
span.de_F144623598
{
	font-famil