html
{
  height: 99%;
}
body
{
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11pt;
  text-decoration: none;
  color: #000000;
  margin: 0px;
  background-color: #ffffff;
}
#mainTable
{
 margin-left: auto;
 margin-right: auto;
 border: 1px solid #375DB0;
 border-collapse: collapse;
 padding: 0px;
 table-layout: fixed;
}
#sectionLeft
{
 vertical-align: top;
 padding: 0px;
}
#sectionNav
{
 vertical-align: top;
 padding: 0px;
}
#sectionMain
{
 vertical-align: top;
 padding: 0px;
}
#sectionRight
{
 vertical-align: top;
 padding: 0px;
}


/*Content area  elements' styles*/
.navTable
{
	border: 0px; 
	
	border-left: 0px solid #4271D6;
	border-bottom: 1px solid #4271D6;
	
	margin: 0px;
	margin-left: 0px;
	padding: 0px;
	height: 14px;
	border-collapse: collapse;
	width: 100%;
	background-color: #CAD9F8;
}
.navLink
{
	margin: 0px;
	padding: 5px;
	width: 33%;
	font-size: 8pt;
}

/*Search elements' styles*/
#search_form
{
	padding: 5px;
	text-align: center;
}

#search
{
	width: 150px;
}

#search_controls
{
    /*height: 34px;*/
}
#search_output
{
    height: 100%;
    padding: 5px;
    overflow: auto;
}
/*End of search elements' styles*/

/*Context menu elements' styles*/
li.idx
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ieCtxMenu
{
    background-color: #E6EDFC;
    border: 1px solid #4271D6;
    cursor: pointer;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: absolute;
}
.ieCtxMenuTbl
{
    border: none;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}
.cmenu
{
	margin: 0; padding: 0.3em;
	list-style-type: none;
	background-color: white;
}
.cmenu li:hover {}
.cmenu hr
{
	border: 0;
	border-bottom: 1px solid grey;
	margin: 3px 0px 3px 0px; width: 10em;
}
.cmenu a {border: 0 !important;}
.cmenu a:hover {text-decoration: underline !important;}
.cmenu .topSep {font-size: 90%; border-top: 1px solid gray; margin-top: 0.3em; padding-top: 0.3em;}    
.ieCtxMenuEntry
{
	background-color:Transparent;
    color:#375DB0;
    padding:5px;
    font-size: 8pt;
    text-decoration: underline;
}
.ieCtxMenuEntry_Highlighted
{
    background-color:#4F87FD;
    color:#FFFFFF;
    padding:5px;   
    font-size: 8pt; 	
    text-decoration: underline;
}
#contentArea
{
	/*DREX_FIT_TO_WINDOW_START*/
	height: 100%; 
	width: 100%;
	overflow: auto;	
	/*DREX_FIT_TO_WINDOW_END*/
	border: 0px;
	border-left: 1px solid #E6EDFC;
}
/*End of context menu elements' styles*/

/*Tabber styles*/
/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 /*margin-top:1em;*/
 height: 100%;
 display: block;
 position: relative;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 5px 0px 4px;
 border-bottom: 1px solid #375DB0;
 background: #CAD9F8;
 font: bold 12px Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 5px 0.5em 4px;
 margin-left: 3px;
 border: 1px solid #375DB0;
 border-bottom: none;
 background: white;
 text-decoration: none;
 color: #375DB0;

}

ul.tabbernav li a:link { color: #375DB0; }
ul.tabbernav li a:visited { color: #375DB0; }

ul.tabbernav li a:hover
{
 color: #000;
 /*background: #AAE;*/
 /*border-color: #227;*/
}

ul.tabbernav li.tabberactive a
{
 background-color: #4F87FD;
 border-bottom: 1px solid #4F87FD;
 color: #FFFFFF;

}

ul.tabbernav li.tabberactive a:hover
{
/* color: #000;
 background: white;
 border-bottom: 1px solid white;
 */
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 /*padding:5px;*/
 border:0px solid #aaa;
 border-top:0;
 padding:0px;;

 /*position: relative;*/
 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */
  height:100%; 
  width:100%;

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

  overflow:scroll; 
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
/*End of tabber styles*/

table.menutable
{
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: 1px;
  border-style: solid;
  border-color: #375DB0;
  background-color: #ffffff;
  margin-right: 0px;
  width: 100%;
  float: left;
}

tr.menu_topic_opened
{
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-decoration: none;
  text-align: left;
  vertical-align: top;
  border: 0px;
  border-style: solid;
  border-color: #ffffff;
}

tr.menu_topic_closed
{
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-decoration: none;
  text-align: left;
  vertical-align: top;
  border: 0px;
  border-style: solid;
  border-color: #ffffff;
  display: none;
}

td.menu_topic
{
  border-bottom: 0px;
  border-top: 1px;
  border-left: 3px;
  border-right: 0px;
  border-style: solid;
  background-color: #E6EDFC;
  border-color: #4271D6;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

td.menu_topic_active
{
  border-bottom: 0px;
  border-top: 1px;
  border-left: 4px;
  border-right: 0px;
  border-style: solid;
  background-color: #4F87FD;
  border-color: #4271D6;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

table.pagetable
{
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: 1px;
  border-top: 5px;
  border-style: solid;
  border-color: #375DB0;
  background-color: #ffffff;
  margin-bottom: 3px;
  width: 100%;
}


tr.page
{
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  font-size: 9pt;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  text-align: left;
  vertical-align: top;
}

td.page
{
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 1px;
  border-style: solid;
  border-color: #E6EDFC;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 1px;
  padding-left: 1px;
  background-color: #FFFFFF;
  vertical-align: top;
}

td.page_area
{
  border-top: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color:  #CAD9F8;
  background-color: #FFFFFF;
  padding: 0px;
  vertical-align: top;
}

td.navigation
{
  width: 50%;
  margin: 0px;
  padding: 5px;
  padding-top: 2px;
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-decoration: none;
  background-color: #CAD9F8;
  vertical-align: middle;
}

div.description_on_page
{
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-decoration: none;
}

div.menu_on_page
{
  border-top: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #4271D6;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
}

a.menu
{
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #375DB0;  
}

a.menu:visited
{  color: #375DB0; }

a.menu_active
{
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #FFFFFF;  
}
a.menu_active:visited
{  color: #FFFFFF; }

a.navigation
{
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #375DB0;  
}

a.navigation:visited
{  color: #375DB0; }

div.pmenu
{
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 40px;
}


div.index_page_title
{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  font-size: 20pt;
  text-decoration: none;
  color: #375DB0;
  text-align: center;
  font-weight: bold;
}

div.index_page
{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 150px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  font-size: 12pt;
  text-decoration: none;
  color: #000000;
  text-align: center;
  font-weight: bold;
  border-top: 1px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: #375DB0;
}
/*Page content table properties*/
table.pagecontent
{
	border-style: none;
	border-width: 0px;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}
td.pagecontent
{
	border-style: none;
	border-width: 0px;
	padding: 0px;
}
#drex_splitter
{
	width: 1px;
	border: 1px none black;
	cursor: e-resize;
	float: left; 
	width: 3px;
	height: 100%;
}
#mainTable
{
	/*DREX_FIT_TO_WINDOW_START*/
	width: 100%;
	/*DREX_FIT_TO_WINDOW_END*/
}
#sectionLeft
{
 width: 1px;
}
#sectionNav
{
 width: 240px;
}
#sectionRight
{
 width: 1px;
}
ul
{
	margin: 0;
}